body {
    font-family: sans-serif;
    background: #fff;
  }
  
  .email--background {
    background: #eee;
    padding: 10px;
    text-align: center;
  }
  .email--container, .pre-header {
    max-width: 500px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
  }
  .email--inner-container {
    padding: 0 5% 40px;
  }
  .msg-container {
    position: relative;
    text-align: center;
    color: white;
  }
  .bday-wish-centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  .pre-header {
    background: #eee;
    color: #eee;
    font-size: 5px;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #a2a2a2;
    margin-bottom: 30px;
  }
  
  .cta {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #373629;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 13px;
  }
  
  .footer-junk {
    padding: 20px;
    font-size: 10px;
  }
  .footer-junk a {
    color: #bbbbbb;
  }